@import 'src/@app/styles/variables';
@import 'src/@app/styles/mixins';

.wrapper {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(66, 69, 78) 100%);
}

.body {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(66, 69, 78) 100%);

  button {
    @media (max-width: $tablet) {
      background-color: transparent;
    }
  }

  svg {
    stroke: $textWhite;
  }
}

.bl_title {
  margin-bottom: 24px;
}

.items {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  color: $textWhite;
}
