@import 'src/@app/styles/variables';
@import 'src/@app/styles/mixins';

.footer {
    display: flex;
    grid-gap: 15px;
    @media (max-width: $tablet) {
        grid-gap: 40px;
    }
}
.left {
    flex: 1 1 35%;
    @media (max-width: $tablet) {
        flex: 0 1 max-content;
    }
}

.right {
    flex: 1 1 60%;
    @media (max-width: $tablet) {
    flex: 1 1 auto;
    }
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 48px;

    @media (max-width: $desktop) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $tablet) {
        grid-gap: 20px;
    }
}
.item_title {
    font-size: 17px;
    font-weight: 700;
    color: $white;
    margin-top: 0;
    margin-bottom: 16px;


    @media (max-width: $tablet) {
        margin-bottom: 8px;
        font-size: 13px;
        line-height: 120%;
    }
}

.links {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
    @media (max-width: $tablet) {
        grid-gap: 0px;
    }
}
.link_item {
    height: max-content;
    padding: 0;
    margin: 0;
}
.link {
    font-size: 15px;
    color: $textWhite2;
    font-weight: 400;
    text-decoration: none;
    @media (max-width: $tablet) {
        font-size: 9px;
    }
}

.link_svg {
    @media (max-width: $tablet) {
        width: 70px;
        height: 60px;
    }
}