@import "src/styles/variables";
@import "src/styles/mixins";

.List {
	// list-style: none;
	// margin: 0;
	// padding: 0;
	display: flex;
	width: 100%;
	// overflow: auto;

	&::-webkit-scrollbar {
		// display: none;
		// opacity: 0;
	}
}


.Item_main_slide {
	padding-bottom: 15px;
}

.Item_main {
	// max-height: 300px;
	width: 100%;
	// height: 100%;
	position: relative;

	&::after {
		content: '';
		padding-bottom: 57.23%;
		// padding-bottom: 100%;
		display: block;
	}

	@media (max-width: $tabletSmall) {
		min-height: 200px;
		max-height: 300px;
	}

	.Image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		@media (max-width: $tabletSmall) {}
	}
}

.mySwiper2 {
	:global(.swiper-pagination-bullet) {
		background-color: $primary;
		opacity: 1;
	}

	:global(.swiper-pagination-bullet-active) {
		background-color: white;
	}

	:global(.swiper-pagination) {
		bottom: 30px !important;

		@media (max-width: $tabletSmall) {
			// bottom: 20px;
		}
	}

}

.Item {
	@media screen and (min-width: $tabletSmall) and (max-width: $desktop) {
		min-height: 116px;
	}

	@media screen and (min-width: 0px) and (max-width: $tabletSmall) {
		display: none;
	}
}

.Image {
	width: 100%;
	// border-radius: 8px;
	object-fit: cover;
}

.body {
	// margin: 0px -16px;
}

.namm {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	z-index: 10;
	background-color: red;
}