@import 'src/@app/styles/variables';
@import 'src/@app/styles/mixins';

.mainPage {
  background-color: $white;
  width: 100%;
  border-bottom: 1px solid $gray3;
}

.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  @media (max-width: $tablet) {
    padding: 18px 0;
  }
}

.logo {
  display: block;
  line-height: 0;
  margin-right: 48px;

  @media (max-width: $tablet) {
    order: -1;
    margin: 0;
  }

  img {
    @media (max-width: 920px) {
      // width: 120px;
      // height: 28px;
    }
  }
}

.header_left {
  display: flex;
  align-items: center;
}