@import 'src/@app/styles/variables';
@import 'src/@app/styles/mixins';

.wrapper {
  padding: 0;
  margin: 0;
}

.lang {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid white;
  font-weight: 500;
  color: white;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;

  // @media (max-width: $desktopSmall) {
  //   display: none;
  // }
}

.item {
  display: flex;
}

.active {
  display: none;
}
